[Desktop Entry]
Categories=Game;Rhythm;Tiles;
Type=Application
Name=Unnamed SDVX clone
Comment=A game based on K-Shoot MANIA and Sound Voltex
Exec=usc-game
Icon=usc-game
Terminal=false
StartupWMClass=usc-game
